@font-face {
    font-family: calista;
    src: url(../fonts/calista.ttf);
}

body {
    background-image: url('../img/bg.png');
    background-repeat: repeat;
    border: 2px solid #888;
    font-family:sans-serif;
    margin: auto;
    width: 90%;
}

h2{
    color:#111;
    font-family: calista;
    font-size:300%;
    font-weight: bold;
    padding-bottom:40px;
    padding-top:40px;
}

nav {
    background-image: linear-gradient(#c78e78, #de9876, #c78e78);
    line-height: 50px;
    font-family:calista;
    font-size: 150%;
    font-weight: bold;
}

nav li{
    display: inline-block;
    padding-left:20px;
}

header section {
    background-image: linear-gradient(to top left, #30466f, #7685ac);
    border-bottom:5px groove #999;
    overflow: hidden;
}

header img {
    float: left;
    padding: 50px 20px 20px 100px;
    width: 35%;
}

header section p{
    color: #ccc;
    font-size: 30px;
    height:400px;
    line-height: 50px;
    padding-right: 55px;
    padding-top: 100px;
    overflow: hidden;
}

#about {
    background-color:#ccc;
    height: 530px;
    overflow: hidden;
    border-bottom: 2px #999 double;
}

#about h2 {
    line-height: 50px;
    margin:auto;
    text-align:center;
}

#about p {
    line-height: 35px;
    padding-left:40px;
    padding-top: 20px;
}

#about img {
    float: right;
    padding-right: 45px;
    width: 25%;
}

#social_media {
    background-color: #30466f;
    border-bottom:2px solid #111;
    border-top:2px solid #111;
    padding-bottom:20px;
    color:#ccc;
}

#social_media h2 {
    line-height: 50px;
    text-align:center;
    color:#ccc;
}

#social_media li {
    display: inline-block;
    text-align: center;
    width: 30%;
}

#social_media img {
    width:20%;
}

#tened {
    display: table;
    width:100%;
}

#education {
    background-image:linear-gradient(#7685ac, #afd0d5);
    min-height: 385px;
    text-align:center;
    overflow: hidden; 
    display: table-cell;
    vertical-align: middle;
}

#ten {
    background-image:linear-gradient(#afd0d5, #7685ac);
    padding-top:20px;
    width: 50%;
    overflow: hidden;
    display:table-cell;
    padding-bottom: 20px;
    vertical-align: middle;
}

#ten h2 {
    text-align: center;
    padding-top:20px;
}


.space {
    margin-bottom:30px;
}

footer {
    background-color:#a37f71;
    line-height: 50px;
}

footer p {
    color:#ccc;
    margin:auto;
    text-align:center;
    width: 50%;
}

a {
    color:#30466f;
    text-decoration:none;
}

a:hover {
    color:#111;
}

strong {
    font-size: 110%;
    font-weight:bold;
}

ol {
    list-style-type: decimal;
    padding-left: 80px;
}

ol li {
    padding-bottom: 10px;
}

.container {
    background-color: #fff;
    opacity: .8;
    width: 90%;
    margin: auto;
    min-height: 377px;
}

.clear {
    clear:both;
}