body {
    background-image: url('../img/bg.png');
    background-repeat: repeat;
    border: 2px solid #111;
    font-family:sans-serif;
    margin: auto;
    width: 90%;
}

h2{
    color:#111;
    font-family: fantasy;
    font-size:40px;
    font-weight: bold;
    padding-bottom:40px;
    padding-top:40px;
}

nav {
    background-image: linear-gradient(#c78e78, #de9876, #c78e78);
    line-height: 50px;
}

nav li{
    display: inline-block;
    padding-left:20px;
}

header section {
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #30466f, #7685ac);
    border-bottom:5px groove #111;
}

header img {
    float: left;
    padding-bottom:20px;
    padding-left: 100px;
    padding-top: 50px;
    width: 30%;
}

header section p{
    color: #ccc;
    font-size: 30px;
    height:400px;
    line-height: 50px;
    padding-right: 55px;
    padding-top: 100px;
    overflow: hidden;
}

#about {
    background-color:#ccc;
    height: 530px;
    overflow: hidden;
    border-bottom: 2px black double;
}

#about h2 {
    line-height: 50px;
    margin:auto;
    text-align:center;
}

#about p {
    line-height: 35px;
    padding-left:40px;
    padding-top: 20px;
}

#about img {
    float: right;
    padding-right: 45px;
    width: 25%;
}

#social_media {
    background-color: #30466f;
    border-bottom:2px solid #111;
    border-top:2px solid #111;
    padding-bottom:20px;
    color:#ccc;
}

#social_media h2 {
    line-height: 50px;
    text-align:center;
    color:#ccc;
}

#social_media li {
    display: inline-block;
    text-align: center;
    width: 30%;
}

#social_media img {
    width:20%;
}

#education {
    background-color:#7685ac;
    min-height: 385px;
    padding-top:50px;
    text-align:center;
    overflow: hidden; 
}

#ten {
    float:left;
    width: 50%;
    overflow: hidden;
    background-color:#afd0d5;
}

#ten h2 {
    text-align: center;
}


.space {
    margin-bottom:30px;
}

footer {
    background-color:#a37f71;
    line-height: 100px;
}

footer p {
    color:#ccc;
    margin:auto;
    text-align:center;
    width: 50%;
}

a {
    color:#30466f;
    text-decoration:none;
}

a:hover {
    color:#111;
}

strong {
    font-size: 110%;
    font-weight:bold;
}

ol {
    list-style-type: decimal;
    padding-left: 80px;
}

ol li {
    padding-bottom: 10px;
}

.clear {
    clear:both;
}